@model Rewind.Models.ViewModel.FileUploadViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FileUploadViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.file_filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file_multimedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_multimedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file_uploaddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_uploaddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.file_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
