@model IEnumerable<Rewind.Models.ViewModel.FileUploadViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.file_filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.file_multimedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.file_uploaddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.file_location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.file_filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.file_multimedia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.file_uploaddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.file_location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.file_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.file_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.file_id })
        </td>
    </tr>
}

</table>
